<?php
$server_git_email = '{{ webhook.server_git_email }}';
$access_token = '{{ webhook_token.stdout }}';
$grunt_path = '{{ webhook.grunt_path|default('~/buildmachine') }}';
$grunt_src_path = '{{ webhook.grunt_src_path|default('~/buildmachine/buildsrc/') }}';
$map_file = '{{ webhook.map_file|default(default_buildmachine_map_path) }}';
