{{ ansible_managed | comment }}
[logentries]
name=Logentries repo
enabled=1
metadata_expire=1d
baseurl=http://rep.logentries.com/centos6/\$basearch
gpgkey=http://rep.logentries.com/RPM-GPG-KEY-logentries