case " $1 " in
*'refs/heads/{{ deploy_item.branch_deployed }}'*)
        echo
    echo "*** {{ domain }} site is being updated from {{ deploy_item.hubdirectory }} ***"
        echo
    cd /home/{{ remote_web_user }}/www/{{ domain }}/wp-content || exit
        unset GIT_DIR
        # Note this command uses a flag that will create the branch if it doesn't exist or reset the existing branch to
        # the state of the branch being pushed (thus overwriting any non committed changes in the working directory on
        # the site.
        git checkout -B {{ deploy_item.branch_deployed }}
        git pull {{ deploy_item.hubdirectory }} {{ deploy_item.branch_deployed }}
        echo
    echo "{{ deploy_item.branch_deployed }} branch successfully pulled"
    echo
    ;;
esac